<ion-header class="ion-text-center" color="primary">
	<ion-toolbar color="primary">
		<ion-grid class="ion-no-padding">
			<ion-row class="ion-align-items-center">
				<ion-col class="ion-no-padding">
					<h4 class="ion-no-margin ion-text-center">test pspdfkit</h4>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-header>
<div class="buttons-components-page inner-content">
	<div class="pdf-viewer">
		<div id="pspdfkit-container" style="width: 100%; height: calc(100vh - 94px)"></div>
	</div>
</div>